#chords {
  display: grid;
  gap: 5px;
  // grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: repeat(6, 1fr);
  padding: 10px;
  background-color: #6463636b;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 20px;
}
