@use "variables";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

// reset
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  font-family: "Roboto", sans-serif;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}

body {
  min-height: 100vh;
  background: rgb(8, 41, 233);
  background: linear-gradient(
    153deg,
    rgba(8, 41, 233, 1) 0%,
    rgba(0, 0, 0, 1) 30%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 1) 70%,
    rgba(8, 41, 233, 1) 100%
  );
}

// html {
//   color-scheme: dark light;
// }

.container {
  padding: 5px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
