#start-button {
  padding: 15px;
  border: none;
  border-radius: 10px;
  background-color: rgb(8, 41, 233);
  color: white;

  &.active {
    background-color: black;
  }

  svg {
    font-size: 25px;
  }
}